
node_modules
.vscode-test/

**/node_modules
**/tool
**/out
#Not sure why the svelte js files in pages were excluded
#**/src/**/**.js

*.vsix

package-lock.json

**/intermediate
**/output
client/tsconfig.tsbuildinfo
client/src/test/suite/build.test.ts
server/tsconfig.tsbuildinfo
